{
    "database": {
        "name": "[database_name]",
        "user": "root",
        "password": "root",
        "host": "localhost",
        "port": "3306"
    },
    "url": "https://[name].test",
    "app_name": "Apps"
}