<div class="mt-32">

    <div class="flex justify-center text-2xl text-slate-500">

        <span><code class="text-slate-50 bg-slate-500 rounded p-1 border-r-4">Hello <TMPL_VAR NAME="greeting"></code></span>

    </div>

</div>